@import url("https://fonts.googleapis.com/css2?family=Fira+Code:wght@300;400;500;600;700&display=swap")

$pc: #22212c
$sc: #2a2c37
$tc: #44475a
$ac: #9580ff
$ac2: #50fa7b
$ac3: #ffb86c

html,
body
    font-family: "Roboto", sans-serif
    color: white

body
    min-height: 100vh
    display: grid
    grid-template-rows: auto 1fr auto
    background-color: $sc

header
    width: 100%
    top: 0
    z-index: 3

    .lx-nav,
    .lx-nav-menu.is-active
        background-color: $pc

    .lx-nav-item
        &:focus,
        &:hover
            color: $ac

    #search-wrapper
        height: 2.5rem

        svg
            min-width: 2rem
            height: 100%
            padding: .5rem
            font-size: 1rem
            color: $ac
            border-top-left-radius: .25rem
            border-bottom-left-radius: .25rem
            background-color: $tc
            transition: color .3s ease-in-out

        #search
            height: 100%
            padding: .5rem 1rem .5rem .25rem
            border-top-left-radius: 0
            border-bottom-left-radius: 0
            border-top-right-radius: .25rem
            border-bottom-right-radius: .25rem
            border: none
            color: white
            background-color: $tc

            &::placeholder
                color: white

        .algolia-autocomplete
            height: 100%

        &:focus,
        &:focus-within,
        &:hover
            svg
                color: $ac2

footer
    width: 100%
    padding: 3rem 0
    background-color: $pc

    .lx-row
        gap: 2rem

    .brand
        display: flex
        flex-flow: wrap column
        align-items: flex-start
        gap: .5rem
        user-select: none

    .links,
    .about-me
        display: flex
        flex-flow: wrap column
        align-items: center
        justify-content: flex-start
        gap: .75rem

        span,
        a
            width: 100%
            text-align: left

    a
        text-decoration-thickness: 1rem

        &:focus,
        &:hover
            color: $ac
            text-decoration: underline
            text-decoration-color: $ac2

    .brands
        img,
        svg
            width: 100%
            max-width: 7.8125rem
            height: 100%
            object-fit: contain
            object-position: center

.lx-badge
    user-select: none
    background-color: $tc
    transition-property: color, background-color
    transition: .3s ease-in-out

    &:focus,
    &:hover
        color: black
        background-color: $ac2

blockquote
    display: block
    margin: 0
    padding: 1rem 1.5rem
    position: relative
    font-style: italic

    &:before
        content: "\201C"
        font-size: 2rem
        position: absolute
        top: 1rem
        left: 0
        line-height: 1
        font-weight: 600

#carbonads
    box-sizing: content-box
    max-width: 8.125rem
    padding: 1rem
    position: fixed
    transform: translateY(-50%)
    top: 50%
    left: 0
    display: block
    overflow: hidden
    border-top-right-radius: .262rem
    border-bottom-right-radius: .262rem
    text-align: left
    font-size: .75rem
    background-color: $pc

    a
        color: inherit
        text-decoration: none

    span
        display: block
        overflow: hidden

    .carbon-img
        display: block
        margin: 0 auto .5rem
        line-height: 1

    .carbon-text
        display: block
        margin-bottom: .5rem

    .carbon-poweredby
        display: block
        line-height: 1
        text-transform: uppercase
        letter-spacing: .0625rem
        font-size: .625rem

.minymon
    position: fixed
    top: 80%
    right: 5%
    z-index: 3

    .minymon-body
        .wrapper
            position: relative
            bottom: unset
            right: unset

@media screen and (max-width: 70rem)
    #search-wrapper
        width: 100%

        .algolia-autocomplete
            width: 100%

@media screen and (max-width: 57rem)
    #carbonads
        margin: 0 0 2rem 0
        position: relative
        transform: none
        top: 0
        left: 0
        border-radius: .262rem
        background-color: $sc

@media screen and (max-width: 56.25rem)
    footer
        .lx-row
            gap: 1rem
