@import _reset

$pre-bg: #22212c
$c1: #ffffff
$c2: #ff79c6
$c3: #50fa7b
$c4: #f1fa8c
$c5: #ffb86c
$c6: #bd93f9
$c7: #8be9fd
$line-gap: .5rem
$radius: .328rem

#scroll-to-top
    width: 3rem
    height: 3rem
    padding: 0
    position: fixed
    top: 90%
    right: 5%
    border: none
    font-size: 2rem
    background-color: $pc
    transition-property: color, background-color
    transition: .3s ease-in-out
    z-index: 3

    img,
    svg
        object-fit: contain

    &:focus,
    &:hover
        color: $pc
        background-color: $ac

.cp_embed_iframe
    min-height: 25rem

main
    width: 100%

    section
        width: 100%
        padding: 2rem 0
        display: flex
        align-items: center
        justify-content: center

        hr
            width: 80%
            height: 0.0625rem
            margin: 2rem auto
            border: none
            background-color: $pc

        nav
            position: sticky
            top: 6rem

            details
                width: 100%
                overflow-x: hidden
                display: flex
                flex-flow: wrap column
                border-radius: 0.328rem
                user-select: none
                transition: height 300ms cubic-bezier(0.4, 0.01, 0.165, 0.99)

                summary
                    padding: 0.7rem
                    outline: 0
                    cursor: pointer
                    font-weight: 500
                    transition: background-color 0.4s ease-in-out

                    &:focus,
                    &:hover
                        color: $ac2
                        background-color: rgba(black, 0.25)

                a
                    width: 100%
                    margin: 0
                    padding: 0.5rem 1em
                    display: block
                    font-size: 0.875rem

                    &:focus,
                    &:hover
                        color: $ac2

                &[open]
                    background-color: rgba(black, 0.25)

                    summary
                        color: $ac
                        background-color: rgba(black, 0.25)

            .shortcuts
                display: flex
                flex-flow: wrap column

                a
                    text-decoration-thickness: 1rem

                    &:focus,
                    &:hover
                        color: $ac
                        text-decoration: underline
                        text-decoration-color: $ac2

        article
            width: 100%
            padding: 0 2rem
            display: block

            h2
                margin-top: 0

            a
                text-decoration: underline

            .code
                margin: 0 0.15rem
                background-color: $pc

            .code-box
                width: 100%
                height: auto
                margin: 0
                padding: .15rem
                position: relative
                overflow: auto hidden
                display: block
                border-radius: .328rem
                font-family: "Fira Code", monospace
                background-color: $pre-bg

                .code
                    width: 100%
                    min-width: max-content
                    margin: 0
                    padding: 2rem
                    display: table
                    border-radius: $radius
                    font-family: inherit

                    span
                        color: $c1
                        transition-property: color, background-color
                        transition-duration: .3s
                        transition-timing-function: ease-in-out

                        &.line
                            min-height: .5rem
                            position: relative
                            line-height: 1
                            font-size: .9rem

                            @for $i from 1 through 10
                                &[data-indent="#{$i}"]
                                    padding: 0 1rem 0 #{1 * $i}rem

                        &.c2
                            color: $c2

                        &.c3
                            color: $c3

                        &.c4
                            color: $c4

                        &.c5
                            color: $c6

                        &.c6
                            color: $c7

                        &.c7
                            color: $c5

@media screen and (max-width: 70rem)
    .scroll-to-top
        font-size: 1.5rem

    main
        section
            .lx-container-70
                width: 80%

            nav
                position: relative
                top: unset

            article
                padding: 0
