$pc: #22212c;
$sc: #2a2c37;
$tc: #44475a;
$action: #9580ff;

html,
body {
    font-family: "Roboto", sans-serif;
    color: white;
}

body {
    min-height: 100vh;
    display: grid;
    grid-template-rows: auto 1fr auto;
}

header {
    width: 100%;
    padding: 1rem 0;
    background-color: $pc;

    .brand {
        width: fit-content;
        user-select: none;

        &:focus,
        &:hover {
            color: $action;
        }
    }

    .links {
        flex-basis: 0;
        flex-grow: 1;
        display: flex;
        align-items: center;
        justify-content: flex-end;
        gap: 1rem;

        a {
            &:focus,
            &:hover {
                color: $action;
            }
        }
    }
}

main {
    background-color: $sc;
}

footer {
    width: 100%;
    padding: 2rem 0;
    background-color: $pc;

    .lx-row {
        gap: 2rem;
    }

    .brand {
        width: fit-content;
        height: 100%;
        display: flex;
        flex-flow: wrap column;
        align-items: center;
        justify-content: center;
        user-select: none;
    }

    .links,
    .about-me {
        height: 100%;
        display: flex;
        flex-flow: wrap column;
        align-items: center;
        justify-content: center;

        span,
        a {
            width: 100%;
            text-align: left;
        }

        a {
            &:focus,
            &:hover {
                text-decoration: underline;
            }
        }
    }
}

.lx-badge {
    background-color: $tc;
}

@media screen and (max-width: 56.25rem) {
    header {
        .links {
            a {
                font-size: 0.9rem;
            }

            .lx-badge {
                display: none;
            }
        }
    }

    footer {
        .lx-row {
            gap: 1rem;
        }
    }
}
