include ../#mixins
article#avatar
    h3 Avatar
    p Avatars are ordinarily used to identify users or teams quickly.
    p In Luxa this component size by default is 6.5x7rem. However, you can still override it in a stylesheet.
    +pen("JjRjqMJ", "Avatar")
    hr