include ../#mixins
article
    h3(data-anchor="avatar") Avatar
    p Avatars are used to quickly identify users or teams.
    p The size by default is 6.5x7rem. But you can still override it in your stylesheet.
    +pen("jOqrdBZ", "Avatar")
    hr