include ../#mixins
article#avatar
    h3 Avatar
    p Avatars are used to quickly identify users or teams.
    p The size by default is 6.5x7rem. But you can still override it in your stylesheet.
    +pen("JjRjqMJ", "Avatar")
    hr