include ../#mixins
article
    h3(data-anchor="badge") Badge
    p Badges can notify you that there are new or unread messages or notifications.
    p They can be labels used for flags, earned achievements, etc.
    p It is likely that you may need one of these, some time.
    +pen("MWjWdJY", "Badge")
    hr