include ../#mixins
article#badge
    h3 Badge
    p Badges can notify that there are new or unread messages or notifications.
    p They can be labels used for flags, earned achievements, and much more.
    +pen("MWjWdJY", "Badge")
    hr