include ../#mixins
article
    h3(data-anchor="breadcrumb") Breadcrumb
    p Breadcrumbs are used to provide context for the currently-viewed page. This is usually used when you have multiple layers of content.
    +pen("OJRJGqv", "Breadcrumb")
    hr