include ../#mixins
article#breadcrumb
    h3 Breadcrumb
    p They are mostly used to provide context for the currently-viewed page, when there are multiple layers of content.
    +pen("OJRJGqv", "Breadcrumb")
    hr