include ../#mixins
article
    h3(data-anchor="button") Button
    p Buttons are essential user interface elements, they allow users to perform actions throughout the project.
    p For compatibility reasons and greater style equality between browsers, I recommend you to use the &#x3C;a&#x3E; tag.
    p The button comes in 4 different sizes:
    ol
        li
            p Small
        li
            p Normal (no need to declare, the default size is the normal one.)
        li
            p Medium
        li
            p Large
    +pen("oNxGwPM", "Button")
    hr