include ../#mixins
article
    h3(data-anchor="button") Button
    p Buttons are essential user interface elements, they allow users to perform actions throughout the project.
    p The button comes in 3 different sizes:
    ol
        li
            p Small (no need to declare, the default size is the Small one.)
        li
            p Medium
        li
            p Large
    +pen("QWKWPXz", "Button")
    hr