include ../#mixins
article
    h3(data-anchor="card") Card
    p Cards are generally used to group similar concepts together to facilitate reading and user action.
    +pen("oNxLmab", "Card")
    h4 Muted
    p When a card is deactivated or considered complete, apply the mute modifier to visually darken the card.
    hr