include ../#mixins
article#column
    h3 Columns
    p Building layout with container, rows and columns should be simple.
    p In Luxa, all columns must be contained in one row and you must add the .lx-column class to your internal divs to make them columns.
    p Each column will have equal width, regardless of the number of columns if the parent element is FlexBox.
    +pen("XWjWLWa", "Columns")
    +pen("gOwONMV", "Solutions to build your layouts")
    h4 12 Columns
    p The standard grid has 12 columns. No matter the size of the browser, each of these columns will always have equal width.
    hr