include ../#mixins
article
    h3(data-anchor="container") Container
    p A simple container to center your content horizontally.
    p To use it, just set the size from 50% to 100%.
    +pen("yLaLWjY", "Container")
    hr