include ../#mixins
article#container
    h3 Container
    p Luxa containers are essential in building the layout! They are used to contain, pad, and centralize the content within them.
    p Although containers can be nested, most layouts do not require a nested container.
    p To use it, just set the size from 50% to 100%.
    +pen("yLaLWjY", "Container")
    hr