article#generic-classes
    h3 Generic classes
    p Some classes with specific purposes and very useful in some situations.
    p Below, the table shows the classes and what each of them does.
    table.lx-table
        thead
            tr
                th Class
                th Output
        tbody
            tr
                td
                    span.code .is-hidden
                td
                    p visibility: hidden;
            tr
                td
                    span.code .is-visible
                td
                    p visibility: visible;
            tr
                td
                    span.code .is-marginless
                td
                    p margin: 0 !important;
            tr
                td
                    span.code .is-paddingless
                td
                    p padding: 0 !important;
            tr
                td
                    span.code .is-float-left
                td
                    p float: left;
            tr
                td
                    span.code .is-float-right
                td
                    p float: right;
    hr