article#luxa-reset
    h3 Reset
    p Luxa has a small file, which provides consistency between browsers in the standard style of HTML elements.
    p If there is any inconsistency in any browser, the "Luxa CSS reset" will attempt to correct the browser's style that has the difference.
    hr