article#luxa-reset
    h3 Reset
    p Luxa have a small file, which provides consistency between browsers in the standard style of HTML elements.
    p This means that if there is any inconsistency in any browser, "Luxa reset" will attempt to correct the style of the browser that has the difference.
    p Only it solves most problems, but I am trying to update it continuously.
    hr