include ../#mixins
article
    h3(data-anchor="navbar") Navbar
    p The navbar component is a responsive and versatile horizontal navigation bar.
    p
        | Fully contained by an HTML5 
        span.code nav
        |  tag. Inside are 2 main parts of the navbar. A logo or brand link, and the navigations links.
    blockquote an example of this component in real use can be seen on this website.
    +pen("QWEPyov", "Navbar")
    hr