include ../#mixins
article#navbar
    h3 Navbar
    p The navbar component is a responsive and versatile horizontal navigation bar.
    p 
        | An HTML5 
        span.code nav 
        | tag altogether contains them. Inside are two main parts of the navbar: a logo or brand link, and the navigations links.
    blockquote An example of this component in real use can be seen on this website.
    +pen("xxExoZW", "Navbar")
    hr