include ../#mixins
article
    h3(data-anchor="pagination") Pagination
    p Pagination divides content into pages, Luxa is a framework focused only on css, he offers only style.
    p In future updates I hope to bring examples of how to do it with Javascript.
    +pen("KKzXqBz", "Pagination")
    hr