include ../#mixins
article#pagination
    h3 Pagination
    p Pagination divides content into pages, Luxa is a framework focused only on css, he offers only style.
    p In future updates I hope to bring examples of how to do it with Javascript.
    +pen("MWjWdYN", "Pagination")
    hr