article
    h3(data-anchor="positioning-classes") Positioning classes
    p Some classes with types of placements.
    p Below, the table shows the classes and what each of them does.
    table.lx-table
        thead
            tr
                th Class
                th Output
        tbody
            tr
                td
                    span.code .ps-absolute
                td position: absolute;
            tr
                td
                    span.code .ps-fixed
                td position: fixed;
            tr
                td
                    span.code .ps-relative
                td position: relative;
            tr
                td
                    span.code .ps-static
                td position: static;
            tr
                td
                    span.code .ps-sticky
                td position: sticky;
    hr