include ../#mixins
article#help-text
    h3 Small / Help text
    p The HTML &#x3C;small&#x3E; element represents side-comments and small print, like copyright and legal text, independent of its styled presentation.
    p Luxa apply a style to the tag and also to a class, if you don't want to use the tag for some reason.
    +pen("abmbxRz", "Small / Help text")
    hr