include ../#mixins
article
    h3(data-anchor="table") Table
    p Tables are a nice way to organize a lot of data.
    p Luxa provides a striped modifier class to help you style your table more easily and has a reset to work better in all browsers.
    +pen("MWjWdyg", "Table")
    h4 Striped Table
    p
        | Add&nbsp;
        span.code .is-striped
        | &nbsp;for a striped table.
    hr