include ../#mixins
article#table
    h3 Table
    p Tables are an excellent way to organize many data, and with a striped modifier, your table will be more beautiful.
    +pen("MWjWdyg", "Table")
    h4 Striped Table
    p
        | Add&nbsp;
        span.code .is-striped
        | &nbsp;for a striped table.
    hr