article#typography
    h3 Typography
    p Change typographic alignment with these atomic classes.
    p Below, the table shows the classes and what each of them does.
    table.lx-table
        thead
            tr
                th Class
                th Output
        tbody
            tr
                td
                    span.code .is-text-left
                td
                    p text-align: left;
            tr
                td
                    span.code .is-text-centered
                td
                    p text-align: center;
            tr
                td
                    span.code .is-text-right
                td
                    p text-align: right;
            tr
                td
                    span.code .is-text-justified
                td
                    p text-align: justify;
    hr