article
    h3(data-anchor="visibility") Visibility
    p This visibility classes allow you to quickly change an element’s visibility.
    p Below, the table shows the classes and what each of them does.
    table.lx-table
        thead
            tr
                th Class
                th Output
        tbody
            tr
                td
                    span.code .hide
                td
                    p display: none;
                    p visibility: hidden;
            tr
                td
                    span.code .hide-on-desk
                td
                    p
                        b These properties will only be applied on large screens (Desktop)
                    p display: none;
                    p visibility: hidden;
            tr
                td
                    span.code .hide-on-mb
                td
                    p
                        b These properties will only be applied on small screens (Mobile)
                    p display: none;
                    p visibility: hidden;
    hr