extends structure/_layout
append head
    title Luxa CSS
    link(rel="stylesheet", href="assets/styles/index.css")
block content
    include includes/index/_hero
    include includes/index/_promo
    include includes/index/_showcase
block scripts
    script(src="https://cdnjs.cloudflare.com/ajax/libs/bodymovin/5.7.8/lottie.min.js", crossorigin="anonymous")
    script(defer, src="assets/scripts/index.js")