article
    .lx-row
        img(src="https://media.giphy.com/media/g2lH60ZcvUGL6/giphy.gif" alt="The Beast from the Beauty and the Beast, reading" width="300" height="360" loading="lazy")
    .lx-row
        p
            b W0W! how cool, you read everything!