nav.lx-column
    .shortcuts
        span
            b Getting Started
        a.anchor(data-target="using-luxa") First Steps
        a.anchor(
            href="https://codepen.io/collection/XEkzjB",
            target="_blank",
            rel="noopener noreferrer"
        ) Codepen Collection