nav.lx-column.is-2.ps-sticky
    .docs-menu
        details
            summary Overview
            a.anchor(data-target="using-luxa") Getting Started
        details
            summary Base
            a.anchor(data-target="luxa-reset") Luxa reset
            a.anchor(data-target="table") Table
        details
            summary Components
            a.anchor(data-target="avatar") Avatar
            a.anchor(data-target="badge") Badge
            a.anchor(data-target="breadcrumb") Breadcrumb
            a.anchor(data-target="card") Card
            a.anchor(data-target="collection") Collection
            a.anchor(data-target="navbar") Navbar
            a.anchor(data-target="pagination") Pagination
        details
            summary Elements
            a.anchor(data-target="button") Button
        details
            summary Forms
            a.anchor(data-target="help-text") Small / Help text
        details
            summary Helpers
            a.anchor(data-target="box-shadow") Box shadow
            a.anchor(data-target="flexbox") FlexBox
            a.anchor(data-target="generic-classes") Generic classes
            a.anchor(data-target="visibility") Visibility
            a.anchor(data-target="positioning-classes") Positioning classes
            a.anchor(data-target="transition") Transitions
            a.anchor(data-target="typography") Typography
        details
            summary Layout
            a.anchor(data-target="container") Container
            a.anchor(data-target="column") Column
            a.anchor(data-target="row") Row