section#hero
    .lx-container-70
        .lx-row.align-stretch
            h1
                i.fas.fa-satellite-dish
            .lx-column
                h2 /dev blog
                p all the news and announcements from Luxa CSS