header
    nav.lx-container-70
        .lx-row
            .brand
                a(href="./index.html")
                    span
                        i.fas.fa-user-astronaut
                        | &nbsp;Luxa
            .links
                a(href="docs.html")
                    i.fas.fa-book
                    | &nbsp;Docs
                a(href="https://github.com/luxonauta/luxa" target="_blank" rel="noopener noreferrer")
                    i.fab.fa-github-alt
                    | &nbsp;GitHub
                span.lx-badge v1.01