header
    nav.lx-container-70
        .lx-row
            .brand
                a(href="./index.html")
                    span
                        i.fas.fa-user-astronaut
                        | &nbsp;Luxa CSS
            .links
                a(href="docs.html")
                    i.fas.fa-book
                    | &nbsp;Docs
                a(href="https://github.com/luxonauta/luxa" target="_blank" rel="noopener noreferrer")
                    i.fab.fa-github-alt
                    | &nbsp;GitHub
                a(
                    href="https://www.buymeacoffee.com/luxonauta",
                    target="_blank",
                    rel="noopener noreferrer",
                    aria-label="Buy me a coffee"
                ).has-dflex-center.bmc
                    img(src="assets/media/bmc.svg" alt="Buy me a coffee logo" width="160" height="32" loading="lazy")
                span.lx-badge v1.1