doctype html
html(lang='en')
    head
        meta(charset="utf-8")
        meta(name="viewport" content="width=device-width, initial-scale=1")
        meta(name="author" content="Lucas de França")
        meta(name="description" content="Luxa is a minimalist CSS framework.")
        meta(name="keywords" content="Luxa")
        title Luxa
        link(rel="shortcut icon" href="assets/brand/favicon.png" type="image/png")
        link(rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap")
        link(rel="stylesheet" href="https://cdn.jsdelivr.net/gh/luxonauta/luxa@latest/dist/compressed/luxa.css")
        block head
    body
        include _header
        main
            block content
        include _footer
        script(
            src="https://use.fontawesome.com/releases/v5.14.0/js/all.js",
            defer="true",
            crossorigin="anonymous"
        )
        block scripts