.lx-container-70
    .lx-row
        h1
            i.fas.fa-user-astronaut
            | &nbsp;Luxa
        h2 Quickly design, build, and ship!
        a.lx-btn.git-link(
            href="https://github.com/luxonauta/luxa",
            target="_blank",
            rel="noopener noreferrer"
        )
            | Download on&nbsp;
            i.fab.fa-github
            | &nbsp;GitHub