section#promo
    .lx-container-70
        .lx-row
            hr
        .lx-row
            h3.is-text-centered Its goal is to provide a lightweight solution that can be easily implemented in any development context.
        .lx-row
            .lx-column
                p
                    i.fas.fa-feather
                    | &nbsp;
                    b Simple and focused
                p 
                    | With simple class names like&nbsp;
                    span.code .lx-btn
                    | &nbsp;or&nbsp;
                    span.code .lx-row
                    | , and a simple modifier system, like&nbsp;
                    span.code .has-dflex
                    | &nbsp;.
            .lx-column
                p
                    i.fas.fa-brain
                    | &nbsp;
                    b Free your creative
                p You don't need to take a course to use it, with no distractions to interrupt your creative flow.
            .lx-column
                p
                    i.fas.fa-wind
                    | &nbsp;
                    b Stay independent
                p Luxa CSS is totally free. Just do what you want, seriously!